<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SQL" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Bitacora_LegacyIV;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="TXT" connectionString="C:\Users\nahue\OneDrive\Desktop\Desktop.txt"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>